<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Genesis Technologies</title>

    <!-- Bootstrap core CSS -->
    <link href="../scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../scripts/img/logo.png" type="image/gif" sizes="16x16">

    <!-- Custom fonts for this template -->
    <link href="../scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../scripts/css/sponsors.css" rel="stylesheet">

  </head>
  <body id="page-top" class="bg">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger"  href="#page-top"><p class="text-warning">Genesis Technologies</p></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="index.html"><p class="text-info"><b>Home</b></p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="aboutus.html"><p class="text-info"><b>About Us</b></p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="services.html"><p class="text-info"><b>Services</b></p></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="differentiator.html"><p class="text-info"><b>Differentiator</b></p></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="careers.html"><p class="text-info"><b>Careers</b></p></a>
                </li>
              
  
             </ul>
          </div>
        </div>
      </nav>

   <div>
    <div class="about-section text-center">
      <div class="icon-bar">
  <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
  </div>
      <div class="container-fluid">
        <div class="row">
        <h2 class="mx-auto text-warning">Career at Genesis Technologies</h2>
       
        <h5 class="mx-auto text-white-50"><strong>
          <ul style="list-style-type:none">
            <li>
              At Genesis Technologies, we work together to create an environment where we allow our employees to think independently.</li>
            <li>Our employees are our team members whom we empower to think like owners and participate in the challenges and rewards that come from building a remised company.Our employees are the key element of our continued success.</li>
            <li>We recruit candidates from different backgrounds with a passion for hard work and fair play. There are varied opportunities in HR and Recruitment, Migration, Training, Marketing, Operations and Accounts.</li>
            <li>Genesis Technologies seeks knowledgeable, creative and committed individuals who are ready to grow with us. If you want to experience the spirit of an entrepreneurial organization, while enjoying the impressive resources of a global company, we invite you to join us with a challenging yet rewarding career opportunity. There is always a room for you to grow at Divergent, and that's our commitment to you.</li>
            <li></li>
           
          </ul></strong>


        </h5>

      </div>
      
    </div>
  </div>
</div>


    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Genesis
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="../scripts/vendor/jquery/jquery.min.js"></script>
    <script src="../scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../scripts/js/grayscale.min.js"></script>

  </body>
  </html>
